<div class="chamada">
    <div class="chamada_img">
        <img src="assets/img/img (4).png" alt="">
    </div>
    <div class="chamada_texto">
        <div class="texto"> <h3>O seu sorriso é a sua marca registrada.</h3></div>
        <div class="atendimento">
            <div class="atendimento_top">
                <h5>Agende sua avaliaçao</h5>
            </div>
            <div class="atendimento_top">
                <p>Atendimento humanizado <br><span>Seg a Sab - 8:00 às 18:00</span></p>
                <img src="assets/img/whatsapp.png" alt="">
            </div>
        </div>
    </div>
</div>


