<div class="agendamento">
    <div class="hero-section">
        <div class="hero-text">
            <h2>Agende <span style="font-weight: bold;">sua avaliação!</span></h2>
            <p>Nossos especialistas altamente qualificados e dedicados estão prontos para cuidar do seu sorriso.
            Envie o seu número e um de nossos representantes entrará em contato com você agora mesmo.</p>
            <button>ENTRE EM CONTATO</button>
        </div>
        <div class="hero-image">
            <img src="assets/img/img_10.png" alt="Médico">
        </div>
    </div>
</div>
<app-formulario></app-formulario>
<app-diferenciais></app-diferenciais>
<app-duvidas></app-duvidas>


