<div class="sobre">
  <div class="sobre_img">
    <img src="assets/img/img_10a.png">
  </div>
  <div class="sobre_texto">
    <div class="sobre_topico">
      <h2>Somos a Odonto +</h2>
      <h3>A sua clinica</h3>
    </div>
    <div class="texto">
      <p>Sua clínica odontológica de confiança com mais de 20 anos de atuação no mercado.
        Oferecemos atendimento de qualidade, tecnologia avançada e tratamentos personalizados
        para um sorriso saudável e radiante.
      </p>
    </div>
  </div>
</div>
<app-resumo></app-resumo>
<app-avaliacao></app-avaliacao>
