<div class="formulario">
    <div class="texto_form">
        <div class="texto">
            <h2>Nossa equipe</h2>
            <p>Temos uma equipe especializada,
                com diversos profissionais a sua
                disposição.
            </p>
        </div>
        <div class="form_img">
            <img src="assets/img/img_36.png" alt="">
        </div>
    </div>
    <div class="container">
        <h2>Solicite um agendamento</h2>
        <form id="orcamentoForm">
            <div class="form-group">
                <label for="nome">Nome completo</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" id="telefone" name="telefone" maxlength="11" required>
            </div>
            <div class="form-group">
                <label for="especialidade">Especialidade desejada</label>
                <select id="especialidade" name="especialidade" required>
                    <option value="">Selecione...</option>
                    <option value="Clínico geral">Clínico geral</option>
                    <option value="Ortodontia">Ortodontia</option>
                    <option value="Implantodontia">Implantodontia</option>
                    <option value="Estética">Estética</option>
                    <option value="Facetas">Facetas</option>
                    <option value="Odontopediatria">Odontopediatria</option>
                    <option value="Próteses">Próteses</option>
                    <option value="Outros">Outros</option>
                </select>
            </div>
            <div class="form-group">
                <label for="mensagem">Deixe sua mensagem (até 500 caracteres)</label>
                <textarea id="mensagem" name="mensagem" maxlength="500"></textarea>
            </div>
            <div class="form-buttons">
                <button type="reset" class="btn btn-limpar">Limpar</button>
                <button type="submit" class="btn btn-enviar">Enviar</button>
            </div>
        </form>
     
    </div>
</div>






   