nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 10px; 
}

nav .menu-icon{
    cursor: pointer;
    display: none;
}

nav .menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

nav .menu-items a {
    text-decoration: none;  
    color: #ffffff;
    padding: 1rem;
    text-align: center;    
}

nav .menu-items a:hover {
    font-weight: bold;
}

button{
    background-color: transparent;
    border: none;
}

@media (max-width: 1024px) {
    nav .menu-icon {
        display: block;
        position: relative;
        z-index: 99;
    }

    nav .menu-items {
        position: fixed;
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.3s ease-in;
        background-color: #004193;
        z-index: 98;
    }

    nav .menu-items a:hover {
        color: #7a21ff;
        transition: background-color 0.05s;
    }

    nav .menu-items.active {
        transform: translateY(0);
    }

    nav .menu-items a {
        padding: 10px;
        font-size: 18px;
        color: #ffffff;
    }

    .menu-icon img {
        width: 40px;
    }
}