<div class="contact-section">
    <div class="contact-text">
        <h2>Tire suas dúvidas</h2>
        <p>Estamos aqui para responder às suas perguntas, fornecer informações adicionais
         e ajudá-lo a agendar sua consulta.
        </p>
        <form class="contact-form">
            <input type="text" placeholder="Nome Completo" required>
            <input type="email" placeholder="E-mail" required>
            <textarea placeholder="Mensagem" rows="4" required></textarea>
            <button type="submit">ENVIAR MENSAGEM</button>
        </form>
    </div>
    <div class="contact-image">
        <img src="assets/img/img_37.png" alt="Médica">
    </div>
</div>
