<div class="tratamentos">
    <div class="tratamentos_home">
        <div class="home_textos">
            <div class="h_textos">
                <h1>Confira os tratamentos oferecidos pela <span>Odonto +</span></h1>
                <p>A Odonto + é a melhor clínica para implantes dentários no Brasil. Com quase duas décadas de experiência,
                   possui toda expertise profissional necessária para realizar o procedimento com segurança e eficiência.</p>
            </div>
            <div class="home_imagem">
                <img src="assets/img/img_4.png" alt="">
            </div>
        </div>
    </div>
   <app-chamada></app-chamada>
   <app-opcoes></app-opcoes>
</div>