<div class="home">
    <div class="content_home">
        <div class="text_home">
            <div class="text__home__page">
                <h1>Bem vindo a Odonto +</h1>
                <p>Sua clínica odontológica confiável, com duas décadas de atuação. Oferecemos qualidade,
                    tecnologia avançada e tratamentos personalizados para sorrisos saudáveis.
                </p>
                <p>Somos pioneiros em odontologia digital e temos como compromisso transformar,
                    além do sorriso, a vida das pessoas, devolvendo autoestima, bem-estar e felicidade.
                </p>
            </div>
            <div class="img_home">
                <img src="assets/img/img_32.webp" alt="" loading="lazy">
            </div>
        </div>
        <form class="formulario_home" id="formulario_home">
            <div class="">
                <h5>Agendar avaliação</h5>
            </div>
            <div class="">
                <label for="inputName" class="form-label">Nome:</label>
                <input type="text" class="form-control" id="inputName" required>
            </div>
            <div class="">
                <label for="inputEmail4" class="form-label">E-mail:</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="">
                <label for="inputNumberphone" class="form-label">Telefone:</label>
                <input type="tel" class="form-control" id="inputNumberphone" maxlength="11"
                    placeholder="" required>
                <div class="form-text">Somente números (máximo de 11 dígitos).</div>
            </div>
            <div class="btn_home" id="">
                <button type="submit" class="">Enviar</button>
            </div>
        </form>
    </div>
</div>
<app-segunda-sessao></app-segunda-sessao>
<app-terceira-sessao></app-terceira-sessao>
<app-quarta-sessao></app-quarta-sessao>