<footer>
    <div class="footer_franquia">
        <div class="franquia">
            <h4>Seja um franqueado</h4>
            <p>Por que escolher a Odonto+? <br>
                Oferecemos mais que um serviço, oferecemos um propósito de vida.
            </p>
            <button>Saiba mais</button>
            <div class="premios_icon">
                <h6>
                    Um empresa premiada
                </h6>
                <span></span>
                <img src="assets/img/abf.png" alt="">
                <img src="assets/img/gptw.png" alt="">
                <img src="assets/img/ra.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer_text">
        <div class="institucional">
            <div class="institucional_topico">
                <h4>Empresa</h4>
            </div>
            <div class="institucional_subtopicos">
                <ul>
                    <li>Tratamentos</li>
                    <li>Sobre Nós</li>
                    <li>Central de Atendimento</li>
                    <li>Política de Privacidade</li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
        <div class="empresa">
            <div class="empresa_topico">
                <h4>Odonto +</h4>
            </div>
            <div class="empresa_subtopicos">
                <p>
                    Rua do Dentista, 123 - Bairro da Saúde - Cidade/Estado - CEP: 12345-678</p>
                <p>
                    Central de Atendimento:
                    Brasília - DF
                    (61) 99571-3388 <br>
                    Demais Localidades:
                    0800 000 0000
                </p>
                <p>
                    Odontomais S.A. - CNPJ 11.000.000/0001-00
                </p>
            </div>
            <div class="empresa_icons">
                <a href="https://www.linkedin.com/in/ernandes-neponuceno/"><img src="assets/img/linkedin.png"
                        alt=""></a>
                <a href="https://wa.me/5561995713388"><img src="assets/img/whatsapp.png" alt=""></a>
                <a href="https://github.com/ErnandesNeponuceno"><img src="assets/img/github.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>
<span>
    <p>&copy; 2023 Ernandes Neponuceno. Todos os direitos reservados. <br>
</span>